{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
    <div >
        <img src="/static/images/book.jpg", width="1263", height="200">
    </div>
    <!--body background="">Test
    </body-->
    <br>
    <div class="container">
         <!--p><h2>Place for your kids' books (reviews & ratings)</h2>  </p-->

         <div class="row">
          <div class="col-8">
          {% if tag %}
              <strong>Search For : {{ tag}}</strong>
          {% endif %}
          </div>
          <div class="col-4">
           <form action="" method="post" autocomplete="off">
           <div class="row">
            <div class="col-6">
            <input type="text" class="form-control" name="tag" id="tag"  placeholder="Enter keyword"/>
            </div>
            <div class="col-6" align="left">
            <input type="submit" value="Search" class="form-control btn btn-primary " name="">
            </div>
           </form>
           </div>
          </div>
         </div>
        <br>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-bordered table-sm table-dark" style=""width:100%>
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="text-align:center">Title</th>
                            <th scope="col" style="text-align:center">Rating</th>
                            <th scope="col" style="text-align:center">Age</th>
                            <th scope="col" style="text-align:center">Author</th>
                            <th scope="col" style="text-align:center">Year Published</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for book in books.items %}
                        <tr scope="row" class="bg-info">
                            <td><a href="{{ url_for('details_page', book_name=book.title) }}" style="color:#fad7a0;">{{ book.title }}</a></td>
                            <td align="center">{{ book.rating }}</td>
                            <td align="center">{{ book.age }}+</td>
                            <td align="center">{{ book.author }}</td>
                            <td align="center">{{ book.year }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
           <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if books.has_prev %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('home_page', page=books.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}

                 {% for page in books.iter_pages(left_edge=3, right_edge=3) %}
                 {% if page %}

                  {% if page==books.page %}
                   <li class="page-item active"><a class="page-link" href="{{ url_for('home_page', page_num=page) }}">{{ page }}</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link" href="{{ url_for('home_page', page_num=page) }}">{{ page }}</a></li>
                  {% endif %}

                 {% else %}
                  <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                 {% endif %}
                 {% endfor %}

                    {% if books.has_next %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('home_page', page=books.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}

                </ul>
    </nav>

    </div><!-- /.container -->
{% endblock %}